  /* Animation for moving the eyes */
  @keyframes eyeMove {
    10% { transform: translateX(0); }         /* Start at center */
    16%, 22% { transform: translateX(2.4px); }      /* Move right */
    28%, 34% { transform: translateX(-2.4px); }     /* Move left */
    40% { transform: translateX(0); }        /* Return to center */
    100% { transform: translateX(0); }       /* Pause for the remaining 4s */
  }
  
  .morphing-ellipse {
    width: 6px;
    height: 6px;
    background-color: #201D1D;
    clip-path: ellipse(50% 50% at 50% 50%);
    transition: clip-path .1s ease-in-out;
  }
  .morphing-ellipse2 {
    width: 6px;
    height: 6px;
    background-color: #201D1D;
    clip-path: ellipse(50% 50% at 50% 50%);
    transition: clip-path .1s ease-in-out;
  }
  
  .eye-movement {
    /* animation: eyeMove 6s cubic-bezier(.5,.18,.93,.84) infinite; */
    animation: eyeMove 5s linear infinite;
    top: 10px;
    left: 8px;
  }

  .morphing-ellipse2{
    margin-left: 2px;
  }