  /* Animation for moving the eyes */
  @keyframes eyeMove {
    10% { transform: translateX(0); }
    16%, 22% { transform: translateX(2.4px); }
    28%, 34% { transform: translateX(-2.4px); }
    40% { transform: translateX(0); }
    100% { transform: translateX(0); }
  }
  @keyframes blink {
    10%,46% { transform: scaleY(1); }
    48% {transform: scaleY(0);}
    50% {transform: scaleY(1);}
    52% {transform: scaleY(0);}
    54%, 100% {transform: scaleY(1);}
  }
  
  .logo-eye-left{
    transform: scaleY(1);
    animation: blink 5s infinite linear;
  }
  .logo-eye-right {
    transform: scaleY(1);
    animation: blink 5s infinite linear;
  }
  
  .logo-eyes {
    /* animation: eyeMove 6s cubic-bezier(.5,.18,.93,.84) infinite; */
    animation: eyeMove 5s linear infinite;
    top: 10px;
    left: 8px;
  }

  .morphing-ellipse2{
    margin-left: 2px;
  }