@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    box-sizing: border-box;
    --secondary-gray: #847E7E;
    --tertiary-gray: #E6E6E6;
    
    --primary-gray-inActive: #f1f1f0;

    --primary-heading-gray: #211D1D;
    --primary-heading-gray-inActive: #8f8e8e;
    --primary-heading-blue: #008aff;
    
    --primary-paragraph: #636161;
    --secondary-paragraph: #8f8e8e;

    --border-color: color(display-p3 .9451 .9451 .9412);
    

    --background-gray: rgb(247, 246, 246);
    --background-gray-hover: #f0f0ef;
    --background-hover: rgba(34, 29, 29, 0.03);
    --description-opacity: 0.7;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

div{
    display: block;
}

::-webkit-scrollbar {
    width: 6px;
    height: 6px;
}
::-webkit-scrollbar-thumb {
    background-color: rgba(32, 29, 29, 0.15);
    border-radius: 100px;
}
::-webkit-scrollbar-track {
    background-color: transparent;
}